.qsys_edit/
hps_isw_handoff/
hps_sdram_p0_summary.csv
soc_system.sld
soc_system.sopcinfo
soc_system/
db/
greybox_tmp/
incremental_db/

*sopc_*
*.jdi
*.ptf.*
*.sof
*.pof
*.cdf
*.qws
*.smsg
*_inst.vhd
*_generation_script*
*.qarlog
*.rpt
*.summary
*.qws
*.cmp
*.eqn
*.qar
*.done
*.txt
*.pin
*.sdc
*.mif
*.ddb
*.stp
*.dpf
*.qdf
