fpga/.qsys_edit/
fpga/hps_isw_handoff/
fpga/hps_sdram_p0_summary.csv
fpga/soc_system.sld
fpga/soc_system.sopcinfo
fpga/soc_system/
fpga/db/
fpga/greybox_tmp/
fpga/incremental_db/

fpga/*sopc_*
fpga/*.jdi
fpga/*.ptf.*
fpga/*.sof
fpga/*.pof
fpga/*.cdf
fpga/*.qws
fpga/*.smsg
fpga/*_inst.vhd
fpga/*_generation_script*
fpga/*.qarlog
fpga/*.rpt
fpga/*.summary
fpga/*.qws
fpga/*.cmp
fpga/*.eqn
fpga/*.qar
fpga/*.done
fpga/*.txt
fpga/*.pin
fpga/*.sdc
fpga/*.mif
fpga/*.ddb
fpga/*.stp
fpga/*.dpf
fpga/*.qdf
